{% extends 'web/base.html' %} {% block content %}
{% load static %}
{% load i18n %}

<div class="about-bg">
    <div class="mx-auto banner-filter">
      <div class="py-8">
        <div class="about-title">
            {% trans "about_title_1" %}
        </div>
        <div class="col-10 col-md-8 mx-auto" style="max-width: 1280px;">
            <div class="mx-6"><hr class="custom-hr"></div>
            <div class="about-text mx-md-6">
                {% trans "about_content_1" %}
            </div>
        </div>
      </div>
    </div>
</div>

  <div class="main-bg">

    <nav class="bg-white  py-2">
      <div class="d-flex justify-content-evenly mx-auto" style="max-width: 1280px;">
        <a class="d-blcok inner-nav-item inner-nav-item-on" href="{% url 'about' %}">{% trans "about_tab_1" %}</a>
        <a class="d-blcok inner-nav-item" href="{% url 'values' %}">{% trans "about_tab_2" %}</a>
        <a class="d-blcok inner-nav-item" href="{% url 'team' %}">{% trans "about_tab_3" %}</a>
      </div>
    </nav>
      
    <div class="container mt-3" style="max-width: 1080px;">
        <div class="row align-items-center">
            <div class="col-12 col-md-6 mt-2 text-center">
                <img class="img-fluid" src="{% static 'web/assets/img/about/story1.png' %}" alt="">
            </div>
            <div class="col-12 col-md-6 mt-2 ">
                <div class="about-section-title">{% trans "about_title_2" %}</div>
                <p>
                    {% trans "about_content_2" %}
                </p>
            </div>
        </div>
        <div class="row align-items-center">

            <div class="col-12 col-md-6 order-2 order-md-1 mt-2">
                <div class="about-section-title">{% trans "about_title_3" %}</div>
                <p>
                    {% trans "about_content_3" %}
                </p>
            </div>
            <div class="col-12 col-md-6 order-1 order-md-2 mt-2 text-center">
                <img class="img-fluid" src="{% static 'web/assets/img/about/story2.png' %}" alt="">
            </div>

        </div>
        <div class="row align-items-center">
            <div class="col-12 col-md-6 mt-2 text-center">
                <img class="img-fluid" src="{% static 'web/assets/img/about/story3.png' %}" alt="">

            </div>
            <div class="col-12 col-md-6 mt-2">
                <div class="about-section-title">{% trans "about_title_4" %}</div>
                <p>
                    {% trans "about_content_4" %}
                </p>
            </div>
        </div>
        <div class="my-4 text-center text-center">
            <img class="img-fluid" src="{% static 'web/assets/img/about/story4.png' %}" alt="">
        </div>
        <div class="ratio ratio-16x9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/s2ZJWOr73rM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div>
            <div class="about-section-title mt-4">{% trans "about_growth_title" %}</div>
            <div class="card-body scrollbar recent-activity-body-height ps-2">

                <div class="row g-3 timeline timeline-dark timeline-past pb-card">
                    <div class="col-auto ps-4 ms-2">
                        <div class="ps-2 pt-2">
                        <h6 class="text-800">2023</h6>
                        </div>
                    </div>
                    <div class="col">
                        <div class="gx-0 pt-2">
                            <h6 class="text-800">{% trans "about_growth_2023" %}</h6>
                        </div>
                    </div>
                </div>
                <div class="row g-3 timeline timeline-dark timeline-past pb-card">
                    <div class="col-auto ps-4 ms-2">
                        <div class="ps-2 pt-2">
                        <h6 class="text-800">2020</h6>
                        </div>
                    </div>
                    <div class="col">
                        <div class="gx-0 pt-2">
                            <h6 class="text-800">{% trans "about_growth_2020" %}</h6>
                        </div>
                    </div>
                </div>
                <div class="row g-3 timeline timeline-dark timeline-past pb-card">
                    <div class="col-auto ps-4 ms-2">
                        <div class="ps-2 pt-2">
                        <h6 class="text-800">2018</h6>
                        </div>
                    </div>
                    <div class="col">
                        <div class="gx-0 pt-2">
                            <h6 class="text-800">{% trans "about_growth_2018" %}</h6>
                        </div>
                    </div>
                </div>
                <div class="row g-3 timeline timeline-dark timeline-past pb-card">
                    <div class="col-auto ps-4 ms-2">
                        <div class="ps-2 pt-2">
                        <h6 class="text-800">2017</h6>
                        </div>
                    </div>
                    <div class="col">
                        <div class="gx-0 pt-2">
                            <h6 class="text-800">{% trans "about_growth_2017" %}</h6>
                        </div>
                    </div>
                </div>
                </div>

        </div>
    </div>  
    
  </div>

{% endblock %}