{% extends 'web/base_2.html' %} 

{% load i18n %}
{% block extra_meta %}
    <!-- Additional meta tags specific to index.html go here -->
    <meta name="description" content="{% trans 'certifications_sub_title' %}">

    <title>{% trans "certifications_title" %}</title>
{% endblock %}

{% block extra_styles %}
    <style>
        body {
            background-color: #ffffff; /* Change to the desired background color */
            color: black;
        }
    </style>
{% endblock %}

{% block content %}

{% load static %}

<div class="tech-bg">
    <div class="mx-auto banner-filter">
      <div class="py-8">
        <div class="about-title">
            {% trans "certifications_title" %}
        </div>
        <div class="col-10 col-md-8 mx-auto" style="max-width: 1280px;">
            <!-- <div class="mx-6"><hr class="custom-hr"></div> -->
            <div class="about-text mx-md-6">
                {% trans "certifications_sub_title" %}
            </div>
        </div>
      </div>
    </div>
</div>

<div class="container mt-3" style="max-width: 1280px;margin-bottom: 60px;">
    <div class="container" style="max-width: 1280px; margin-top: 20px;margin-bottom: 20px;">
        <div class="row d-flex">
            <!-- Box Test 1 -->
            <div class="col-sm-4 d-flex flex-column align-items-center justify-content-center px-4 px-sm-3" style="margin-top: 20px;">
                <div class="box text-center p-3 flex-fill">
                    <!-- Image -->
                    <img src="{% static 'web/assets/img/index_2/logo_blue_sign.jpg' %}" style="width:100px;" alt="Image 1" class="img-fluid mb-3">
        
                    <!-- Headline -->
                    <h5 class="mb-3">BLUESIGN</h5>
        
                    <!-- Content -->
                    <p class="text-center" style="font-size: 13px;">{% trans "certifications_bluesign_content" %}</p>
        
                    <!-- Button -->
                    <!-- <a href="your-pdf-url.pdf" class="btn btn-primary">Watch Pdf Certificate</a> -->
                </div>
            </div>

            <!-- Box Test 1 -->
            <div class="col-sm-4 d-flex flex-column align-items-center justify-content-center px-4 px-sm-3" style="margin-top: 20px;">
                <div class="box text-center p-3 flex-fill">
                    <!-- Image -->
                    <img src="{% static 'web/assets/img/index_2/logo_oeko_tex.jpg' %}" style="width:200px;" alt="Image 1" class="img-fluid mb-3">
        
                    <!-- Headline -->
                    <h5 class="mb-3">OKEO TEX</h5>
        
                    <!-- Content -->
                    <p class="text-center" style="font-size: 13px;">{% trans "certifications_okeo_tex_content" %}</p>
        
                    <!-- Button -->
                    <!-- <a href="your-pdf-url.pdf" class="btn btn-primary">Watch Pdf Certificate</a> -->
                </div>
            </div>
            
            <!-- Box Test 1 -->
            <div class="col-sm-4 d-flex flex-column align-items-center justify-content-center px-4 px-sm-3" style="margin-top: 20px;">
                <div class="box text-center p-3 flex-fill">
                    <!-- Image -->
                    <img src="{% static 'web/assets/img/index_2/logo_global_recycle.png' %}" style="width:180px;" alt="Image 1" class="img-fluid mb-3">
        
                    <!-- Headline -->
                    <h5 class="mb-3">GLOBAL RECYCLED STANDARD</h5>
        
                    <!-- Content -->
                    <p class="text-center" style="font-size: 13px;">{% trans "certifications_global_recycle_content" %}</p>
        
                    <!-- Button -->
                    <!-- <a href="your-pdf-url.pdf" class="btn btn-primary">Watch Pdf Certificate</a> -->
                </div>
            </div>
        </div>

        <div class="row d-flex">
            <!-- Box Test 1 -->
            <div class="col-sm-4 d-flex flex-column align-items-center justify-content-center px-4 px-sm-3" style="margin-top: 20px;">
                <div class="box text-center p-3 flex-fill">
                    <!-- Image -->
                    <img src="{% static 'web/assets/img/index_2/logo_vf.png' %}" style="width:100px;" alt="Image 1" class="img-fluid mb-3">
        
                    <!-- Headline -->
                    <h5 class="mb-3">VF CERTIFICATION</h5>
        
                    <!-- Content -->
                    <p class="text-center" style="font-size: 13px;">{% trans "certifications_vf_content" %}</p>
        
                    <!-- Button -->
                    <!-- <a href="your-pdf-url.pdf" class="btn btn-primary">Watch Pdf Certificate</a> -->
                </div>
            </div>

            <!-- Box Test 1 -->
            <div class="col-sm-4 d-flex flex-column align-items-center justify-content-center px-4 px-sm-3" style="margin-top: 20px;">
                <div class="box text-center p-3 flex-fill">
                    <!-- Image -->
                    <img src="{% static 'web/assets/img/index_2/logo_higg_index.png' %}" style="width:150px;" alt="Image 1" class="img-fluid mb-3">
        
                    <!-- Headline -->
                    <h5 class="mb-3">HIGG INDEX</h5>
        
                    <!-- Content -->
                    <p class="text-center" style="font-size: 13px;">{% trans "certifications_higg_content" %}</p>
        
                    <!-- Button -->
                    <!-- <a href="your-pdf-url.pdf" class="btn btn-primary">Watch Pdf Certificate</a> -->
                </div>
            </div>

            <!-- Box Test 1 -->
            <div class="col-sm-4 d-flex flex-column align-items-center justify-content-center px-4 px-sm-3" style="margin-top: 20px;">
                <div class="box text-center p-3 flex-fill">
                    <!-- Image -->
                    <img src="{% static 'web/assets/img/index_2/logo_bsi.jpg' %}" style="width:180px;" alt="Image 1" class="img-fluid mb-3">
        
                    <!-- Headline -->
                    <h5 class="mb-3">bsi.CO2</h5>
        
                    <!-- Content -->
                    <p class="text-center" style="font-size: 13px;">{% trans "certifications_bsi_co2" %}</p>
        
                    <!-- Button -->
                    <!-- <a href="your-pdf-url.pdf" class="btn btn-primary">Watch Pdf Certificate</a> -->
                </div>
            </div>
            
        </div>

    </div>

</div>


{% endblock %}