{% extends 'web/base_2.html' %} 

{% block extra_styles %}
    <style>
        body {
            background-color: #ffffff; /* Change to the desired background color */
            color: black;
        }
    </style>
{% endblock %}

{% block content %}
{% load static %}
{% load i18n %}

<div class="tech-bg">
    <div class="mx-auto banner-filter">
      <div class="py-8">
        <div class="about-title">
            Certifications
        </div>
        <div class="col-10 col-md-8 mx-auto" style="max-width: 1280px;">
            <!-- <div class="mx-6"><hr class="custom-hr"></div> -->
            <div class="about-text mx-md-6">
                Our Environmental Production Certifications
            </div>
        </div>
      </div>
    </div>
</div>

<div class="container mt-3" style="max-width: 1280px;margin-bottom: 60px;">
    <div class="container" style="max-width: 1280px; margin-top: 20px;margin-bottom: 20px;">
        <div class="row d-flex">
            <!-- Box Test 1 -->
            <div class="col-sm-4 d-flex flex-column align-items-center justify-content-center px-4 px-sm-3" style="margin-top: 20px;">
                <div class="box text-center p-3 flex-fill">
                    <!-- Image -->
                    <img src="{% static 'web/assets/img/index_2/logo_blue_sign.jpg' %}" style="width:100px;" alt="Image 1" class="img-fluid mb-3">
        
                    <!-- Headline -->
                    <h5 class="mb-3">BLUESIGN</h5>
        
                    <!-- Content -->
                    <p class="text-center" style="font-size: 13px;">The Bluesign® standard offers an independent approval system for the textile industry, which takes into account the entire production process, minimizing the impact on the environment, protecting human health and increasing competitiveness and innovation.
                    </p>
        
                    <!-- Button -->
                    <a href="your-pdf-url.pdf" class="btn btn-primary">Watch Pdf Certificate</a>
                </div>
            </div>

            <!-- Box Test 1 -->
            <div class="col-sm-4 d-flex flex-column align-items-center justify-content-center px-4 px-sm-3" style="margin-top: 20px;">
                <div class="box text-center p-3 flex-fill">
                    <!-- Image -->
                    <img src="{% static 'web/assets/img/index_2/logo_oeko_tex.jpg' %}" style="width:150px;" alt="Image 1" class="img-fluid mb-3">
        
                    <!-- Headline -->
                    <h5 class="mb-3">OKEO TEX</h5>
        
                    <!-- Content -->
                    <p class="text-center" style="font-size: 13px;">The Oeko Tex brand highlights the use of technologies, processes and products that minimize the environmental impact, through an annual verification of compliance with the strict ecological requirements defined by the International Institute for Research in the field of textile ecology. The tests carried out on these articles, according to STANDARD 100 by OEKO ‑ TEX®, Appendix 4, Class I articles for babies, it appears that the human-ecological requirements, currently in force and established by STANDARD 100 by OEKO ‑ TEX®, Appendix 4, have been respected.
                    </p>
        
                    <!-- Button -->
                    <a href="your-pdf-url.pdf" class="btn btn-primary">Watch Pdf Certificate</a>
                </div>
            </div>
            
            <!-- Box Test 1 -->
            <div class="col-sm-4 d-flex flex-column align-items-center justify-content-center px-4 px-sm-3" style="margin-top: 20px;">
                <div class="box text-center p-3 flex-fill">
                    <!-- Image -->
                    <img src="{% static 'web/assets/img/index_2/logo_global_recycle.png' %}" style="width:150px;" alt="Image 1" class="img-fluid mb-3">
        
                    <!-- Headline -->
                    <h5 class="mb-3">GLOBAL RECYCLED STANDARD</h5>
        
                    <!-- Content -->
                    <p class="text-center" style="font-size: 13px;">Product and process certification: according to the Global Recycle Standard, it certifies products made from recycled materials and manufacturing activities. It enhances the value of products made from recycled materials, respecting environmental and social criteria extended to all stages of the production chain.
                    </p>
        
                    <!-- Button -->
                    <a href="your-pdf-url.pdf" class="btn btn-primary">Watch Pdf Certificate</a>
                </div>
            </div>
        </div>

        <div class="row d-flex">
            <!-- Box Test 1 -->
            <div class="col-sm-4 d-flex flex-column align-items-center justify-content-center px-4 px-sm-3" style="margin-top: 20px;">
                <div class="box text-center p-3 flex-fill">
                    <!-- Image -->
                    <img src="{% static 'web/assets/img/index_2/logo_vf.png' %}" style="width:100px;" alt="Image 1" class="img-fluid mb-3">
        
                    <!-- Headline -->
                    <h5 class="mb-3">VF CERTIFICATION</h5>
        
                    <!-- Content -->
                    <p class="text-center" style="font-size: 13px;">VF certification  are terms of Engagement make it clear that contracted factories must conduct business in full compliance with all applicable laws, rules and regulations and comply with the terms of our Global Compliance Principles.
                    </p>
        
                    <!-- Button -->
                    <a href="your-pdf-url.pdf" class="btn btn-primary">Watch Pdf Certificate</a>
                </div>
            </div>

            <!-- Box Test 1 -->
            <div class="col-sm-4 d-flex flex-column align-items-center justify-content-center px-4 px-sm-3" style="margin-top: 20px;">
                <div class="box text-center p-3 flex-fill">
                    <!-- Image -->
                    <img src="{% static 'web/assets/img/index_2/logo_higg_index.png' %}" style="width:150px;" alt="Image 1" class="img-fluid mb-3">
        
                    <!-- Headline -->
                    <h5 class="mb-3">HIGG INDEX</h5>
        
                    <!-- Content -->
                    <p class="text-center" style="font-size: 13px;">The Higg Index is an apparel and footwear industry self-assessment standard to rate environment and social sustainability throughout the supply chain. It was launched in 2012 by Sustainable Apparel Coalition (SAC), a nonprofit organization of more than 270 fashion brands/retailers, manufacturers, academic institutions, affiliates, NGOs and governments.
                    </p>
        
                    <!-- Button -->
                    <a href="your-pdf-url.pdf" class="btn btn-primary">Watch Pdf Certificate</a>
                </div>
            </div>
            
        </div>

    </div>

</div>


{% endblock %}