{% extends 'web/base_2.html' %} 

{% block extra_styles %}
    <style>
        body {
            background-color: #ffffff; /* Change to the desired background color */
            color: black;
        }
    </style>
{% endblock %}

{% block content %}
{% load static %}
{% load i18n %}

<div class="tech-bg">
    <div class="mx-auto banner-filter">
      <div class="py-8">
        <div class="about-title">
            Company Profile
        </div>
        <div class="col-10 col-md-8 mx-auto" style="max-width: 1280px;">
            <!-- <div class="mx-6"><hr class="custom-hr"></div> -->
            <div class="about-text mx-md-6">
                Our Over 30 Years History
            </div>
        </div>
      </div>
    </div>
</div>

<div class="container mt-3" style="max-width: 1080px;">
    <div class="row align-items-center">
        <div class="col-12 col-md-6 mt-2 text-center" style="padding-left:40px;padding-right:40px;padding-top:20px;">
            <img class="img-fluid" src="{% static 'web/assets/img/company_profile/profile_1.jpg' %}" alt="">
        </div>
        <div class="col-12 col-md-6 mt-2" style="padding-left:40px;padding-right:40px;padding-top:10px;">
            <div class="about-section-title">{% trans "about_title_2" %}</div>
            <p>
                {% trans "about_content_2" %}
            </p>
        </div>
    </div>
    
    <div class="row align-items-center">
        <div class="col-12 col-md-6 order-2 order-md-1 mt-2" style="padding-left:40px;padding-right:40px;padding-top:10px;">
            <div class="about-section-title">{% trans "about_title_3" %}</div>
            <p>
                {% trans "about_content_3" %}
            </p>
        </div>
        <div class="col-12 col-md-6 order-1 order-md-2 mt-2 text-center" style="padding-left:40px;padding-right:40px;padding-top:0px;">
            <img class="img-fluid" src="{% static 'web/assets/img/company_profile/profile_2.jpg' %}" alt="">
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-12 col-md-6 mt-2 text-center" style="padding-left:40px;padding-right:40px;padding-top:0px;">
            <img class="img-fluid" src="{% static 'web/assets/img/company_profile/profile_3.jpg' %}" alt="">

        </div>
        <div class="col-12 col-md-6 mt-2" style="padding-left:40px;padding-right:40px;padding-top:10px;">
            <div class="about-section-title">{% trans "about_title_4" %}</div>
            <p>
                {% trans "about_content_4" %}
            </p>
        </div>
    </div>

    <div class="growth_process">
        <div style="font-size: 2em; margin: 40px;"><strong>{% trans "company_profile_growth_title" %}</strong></div>

        <div class="container">
            <div class="row align-items-center justify-content-center" style="margin-top: 40px;">
        
                <!-- Year: 1991 -->
                <div class="col-2 text-center">
                    <div class="year">1991</div>
                </div>
        
                <!-- Image -->
                <div class="col-6 text-center">
                    <img src="{% static 'web/assets/img/company_profile/profile_4.jpg' %}" alt="Growth Process Image" class="img-fluid" style="width:200px;">
                </div>
        
                <!-- Description: 富潤公司成立 -->
                <div class="col-4 text-center">
                    <div class="description">{% trans "company_profile_growth_1991" %}</div>
                </div>
        
            </div>
            <hr class="gray-line">
        </div>        

        <div class="container">
            <div class="row align-items-center justify-content-center" style="margin-top: 40px;">
        
                <!-- Year: 1991 -->
                <div class="col-2 text-center">
                    <div class="year">1997</div>
                </div>
        
                <!-- Image -->
                <div class="col-6 text-center">
                    <img src="{% static 'web/assets/img/company_profile/profile_3.jpg' %}" alt="Growth Process Image" class="img-fluid" style="width:200px;">
                </div>
        
                <!-- Description: 富潤公司成立 -->
                <div class="col-4 text-center">
                    <div class="description">{% trans "company_profile_growth_1997" %}</div>
                </div>
        
            </div>
            <hr class="gray-line">
        </div> 

        <div class="container">
            <div class="row align-items-center justify-content-center" style="margin-top: 40px;">
        
                <!-- Year: 1991 -->
                <div class="col-2 text-center">
                    <div class="year">2009</div>
                </div>
        
                <!-- Image -->
                <div class="col-6 text-center">
                    <img src="{% static 'web/assets/img/index_2/logo_blue_sign.jpg' %}" alt="Growth Process Image" class="img-fluid" style="width:150px;">
                </div>
        
                <div class="col-4 text-center">
                    <div class="description">{% trans "company_profile_growth_2009" %}</div>
                </div>
        
            </div>
            <hr class="gray-line">
        </div> 

        <div class="container">
            <div class="row align-items-center justify-content-center" style="margin-top: 40px;">
        
                <!-- Year: 1991 -->
                <div class="col-2 text-center">
                    <div class="year">2017</div>
                </div>
        
                <!-- Image -->
                <div class="col-6 text-center">
                    <img src="{% static 'web/assets/img/company_profile/profile_5.jpg' %}" alt="Growth Process Image" class="img-fluid" style="width:200px;">
                </div>
        
                <div class="col-4 text-center">
                    <div class="description">{% trans "company_profile_growth_2017" %}</div>
                </div>
        
            </div>
            <hr class="gray-line">
        </div> 

        <div class="container">
            <div class="row align-items-center justify-content-center" style="margin-top: 40px;">
        
                <!-- Year: 1991 -->
                <div class="col-2 text-center">
                    <div class="year">2018</div>
                </div>
        
                <!-- Image -->
                <div class="col-6 text-center">
                    <img src="{% static 'web/assets/img/company_profile/profile_6.jpg' %}" alt="Growth Process Image" class="img-fluid" style="width:200px;">
                </div>
        
                <!-- Description: 富潤公司成立 -->
                <div class="col-4 text-center">
                    <img src="{% static 'web/assets/img/company_profile/poli_logo.jpeg' %}" alt="Growth Process Image" class="img-fluid" style="width:100px;"><br>
                    <div class="description">{% trans "company_profile_growth_2018" %}</div>
                </div>
        
            </div>
            <hr class="gray-line">
        </div> 

        <div class="container">
            <div class="row align-items-center justify-content-center" style="margin-top: 40px;">
        
                <!-- Year: 1991 -->
                <div class="col-2 text-center">
                    <div class="year">2019</div>
                </div>
        
                <!-- Image -->
                <div class="col-6 text-center">
                    <img src="{% static 'web/assets/img/index_2/logo_oeko_tex.jpg' %}" alt="Growth Process Image" class="img-fluid" style="width:200px;">
                </div>
        
                <!-- Description: 富潤公司成立 -->
                <div class="col-4 text-center">
                    <div class="description">{% trans "company_profile_growth_2019" %}</div>
                </div>
        
            </div>
            <hr class="gray-line">
        </div> 

        <div class="container">
            <div class="row align-items-center justify-content-center" style="margin-top: 40px;">
        
                <!-- Year: 1991 -->
                <div class="col-2 text-center">
                    <div class="year">2020</div>
                </div>
        
                <!-- Image -->
                <div class="col-6 text-center">
                    <img src="{% static 'web/assets/img/index_2/our_tech_image.jpg' %}" alt="Growth Process Image" class="img-fluid" style="width:300px;">
                </div>
        
                <div class="col-4 text-center">
                    <div class="description">{% trans "company_profile_growth_2020" %}</div>
                </div>
        
            </div>
            <hr class="gray-line">
        </div> 

        <div class="container">
            <div class="row align-items-center justify-content-center" style="margin-top: 40px;">
        
                <!-- Year: 1991 -->
                <div class="col-2 text-center">
                    <div class="year">2021</div>
                </div>
        
                <!-- Image -->
                <div class="col-6 text-center">
                    <img src="{% static 'web/assets/img/index_2/logo_global_recycle.png' %}" alt="Growth Process Image" class="img-fluid" style="width:200px;">
                </div>
        
                <div class="col-4 text-center">
                    <div class="description">{% trans "company_profile_growth_2021" %}</div>
                </div>
        
            </div>
            <hr class="gray-line">
        </div> 

        <div class="container">
            <div class="row align-items-center" style="margin-top: 40px;margin-bottom: 60px;">
                <!-- Year: 1991 -->
                <div class="col-2 text-center">
                    <div class="year">Future</div>
                </div>
    
                <!-- Image -->
                <div class="col-6 text-center">
                    <!-- <img src="{% static 'web/assets/img/company_profile/profile_3.jpg' %}" alt="Growth Process Image" class="img-fluid" style="width:200px"> -->
                </div>
    
                <!-- Description: 富潤公司成立 -->
                <div class="col-4 text-center">
                    <div class="description">{% trans "company_profile_growth_future" %}</div>
                </div>
            </div>
            <!-- <hr class="gray-line"> -->
        </div>
    </div>

</div>  

<style>
    hr.gray-line {
        border: 0;
        height: 2px;
        background-color: gray;
        margin-left: 20px;
        margin-right: 20px;
    }

    @media (max-width: 767px) {
        hr.gray-line {
            margin-left: 0;
            margin-right: 0;
        }
    }
</style>

{% endblock %}