{% extends 'web/base.html' %} {% block content %}
{% load static %}

<div class="news-bg">
    <div class="mx-auto banner-filter">
      <div class="py-8">
        <div class="about-title">
            訊息公告
        </div>
        
      </div>
    </div>
  </div>

  <div class="row justify-content-center my-5">
        
    <div class="col-7 text-center">
      <p class="display-5" style="text-align: center;">標題{{blogpost.title}}</p>
    </div>
    
  </div>

  <div class="row justify-content-center mb-5 mx-1">  
    <div class="col-10 col-md-8">
      <p class="h4">內容 {{blogpost.body|safe}}</p>

    <!-- <p class="news-subtitle">看更多相關文章：</p>
    
    <div class="row">
      
      {% for post in blogposts%}          
        <div class="col-md-4 col-lg-3 col-xl-4">
          <a  href="{% url 'news_detail' %}?blogpost={{post.id}}">
          {% if post.cover_image.url != None %}
            <img src="{{ post.cover_image.url }}"  class="img-fluid img-thumbnail" style="object-fit: cover;">
          {% else %}
            <img src="{% static 'web/assets/img/new/index_bg_hands.jpg' %}"  class="img-fluid img-thumbnail" style="object-fit: cover;">
          {% endif %}
          <p class="news-subtitle mt-2">{{post.title}}</p>
          </a>
        </div>
      {% endfor %}
      
    </div> -->
  </div>

</div>

{% endblock %}