{% extends 'web/base.html' %} {% block content %}
{% load static %}
{% load i18n %}

  <div class="wall-covering-bg">
    <div class="mx-auto banner-filter">
      <div class="py-8">
        <div class="about-title">
          {% trans "footer_pillow" %}
        </div>
      </div>
    </div>
  </div>

  <div class="main-bg py-4">
    <div class="container py-3" style="max-width: 1080px;">
      <!-- breadcrumb -->
      <nav class="mb-3" style="--chijia-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%23748194'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a class="text-dark" href="{% url 'products' %}">{% trans "products_title" %}</a></li>
          <li class="breadcrumb-item active" aria-current="page">{% trans "footer_pillow" %}</li>
        </ol>
      </nav>

      <!-- cases -->
      <div class="row">

        <div class="col-6 col-md-4 text-center my-2">
          <a href="">
            <img class="img-fluid" src="{% static 'web/assets/img/pillow/pillow_1.jpg' %}" alt="">
            <div class="about-section-title mt-2">{% trans "demo_pillow" %}</div>
          </a>
        </div>

        <div class="col-6 col-md-4 text-center my-2">
          <a href="">
            <img class="img-fluid" src="{% static 'web/assets/img/pillow/pillow_2.jpg' %}" alt="">
            <div class="about-section-title mt-2">{% trans "demo_pillow" %}</div>
          </a>
        </div>

        <div class="col-6 col-md-4 text-center my-2">
          <a href="">
            <img class="img-fluid" src="{% static 'web/assets/img/pillow/pillow_3.jpg' %}" alt="">
            <div class="about-section-title mt-2">{% trans "demo_pillow" %}</div>
          </a>
        </div>

        <div class="col-6 col-md-4 text-center my-2">
          <a href="">
            <img class="img-fluid" src="{% static 'web/assets/img/pillow/pillow_5.jpg' %}" alt="">
            <div class="about-section-title mt-2">{% trans "demo_pillow" %}</div>
          </a>
        </div>

        <div class="col-6 col-md-4 text-center my-2">
          <a href="">
            <img class="img-fluid" src="{% static 'web/assets/img/pillow/pillow_4.jpg' %}" alt="">
            <div class="about-section-title mt-2">{% trans "demo_pillow" %}</div>
          </a>
        </div>

        <div class="col-6 col-md-4 text-center my-2">
          <a href="">
            <img class="img-fluid" src="{% static 'web/assets/img/pillow/pillow_6.jpg' %}" alt="">
            <div class="about-section-title mt-2">{% trans "demo_pillow" %}</div>
          </a>
        </div>

        <div class="col-6 col-md-4 text-center my-2">
          <a href="">
            <img class="img-fluid" src="{% static 'web/assets/img/pillow/pillow_7.jpg' %}" alt="">
            <div class="about-section-title mt-2">{% trans "demo_pillow" %}</div>
          </a>
        </div>
      
    </div>
  </div>


{% endblock %}