{% extends 'web/base_2.html' %} 

{% load i18n %}
{% block extra_meta %}
    <!-- Additional meta tags specific to index.html go here -->
    <meta name="description" content="{% trans 'products_sub_title' %}">
{% endblock %}

{% block extra_styles %}
    <style>
        body {
            background-color: #ffffff; /* Change to the desired background color */
            color: black;
        }
    </style>
{% endblock %}

{% block content %}
{% load static %}

<div class="tech-bg">
    <div class="mx-auto banner-filter">
      <div class="py-8">
        <div class="about-title">
          {% trans "products_title" %}
        </div>
        <div class="col-10 col-md-8 mx-auto" style="max-width: 1280px;">
            <!-- <div class="mx-6"><hr class="custom-hr"></div> -->
            <div class="about-text mx-md-6">
              {% trans "products_sub_title" %}
            </div>
        </div>
      </div>
    </div>
</div>

<div class="py-4">
    <div class="container py-3" style="max-width: 1080px;">
        <div class="row">
            <div class="col-6 col-md-4 text-center my-2">
              <a href="#">
                <img class="img-fluid" style="width: 90%;max-width: 300px;height: 350px;" src="{% static 'web/assets/img/products_v2/print_fabric.jpg' %}" alt="">
                <div class="about-section-title mt-2">{% trans "print_fabric" %}</div>
              </a>
            </div>
            <div class="col-6 col-md-4 text-center my-2">
              <a href="#">
                <img class="img-fluid" style="width: 90%;max-width: 300px;height: 350px;" src="{% static 'web/assets/img/products_v2/plain_fabric.jpg' %}" alt="">
                <div class="about-section-title mt-2">{% trans "plain_fabric" %}</div>
              </a>
            </div>
            <div class="col-6 col-md-4 text-center my-2">
              <a href="#">
                <img class="img-fluid" style="width: 90%;max-width: 300px;height: 350px;" src="{% static 'web/assets/img/products_v2/upholstery_fabric_sofa.jpg' %}" alt="">
                <div class="about-section-title mt-2">{% trans "upholstery_fabric" %}</div>
              </a>
            </div>
        </div>
    </div>
  </div>

<!-- <div class="mx-auto" style="margin-top: 50px;margin-bottom: 50px; max-width: 1080px;">
    <div class="content-item">
        <img src="{% static 'web/assets/img/products_v2/products_home_all.jpg' %}" alt="Your Image" style="width: 100%; object-fit: contain;">
        <p style="font-size: 1.5em; margin-top: 10px;margin-bottom: 0px;">窗簾/沙發/家飾布 Plain, Print, Upholstery Fabric</p>
        <p>
            富潤在家飾布領域有30年的經歷，主要供應國内外窗簾批發商。我們的品質與服務深獲品牌商的信賴。
        </p>
    </div>
</div> -->

<style>
    .content-item p {
        margin-bottom: 20px;
    }

    @media (max-width: 1080px) {
        .content-item p{
           margin-left: 20px;
           margin-right: 20px;
        }
    }
</style>


{% endblock %}