{% extends 'web/base.html' %} {% block content %}
{% load static %}

<div class="wall-covering-bg">
    <div class="mx-auto banner-filter">
      <div class="py-8">
        <div class="about-title">
          波麗壁布
        </div>
      </div>
    </div>
  </div>

  <div class="main-bg py-4">
    <div class="container py-3" style="max-width: 1080px;">
      <!-- breadcrumb -->
      <nav class="mb-3" style="--chijia-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%23748194'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a class="text-dark" href="{% url 'products' %}">家飾產品</a></li>
          <li class="breadcrumb-item active" aria-current="page">波麗壁布</li>
        </ol>
      </nav>

      <!-- cases -->
      <div class="row">
        <div class="col-6 col-md-4 text-center my-3">
          <a href="">
            <img class="img-fluid" src="{% static 'web/assets/img/products/wall-covering/wall-covering1.png' %}" alt="">
            <div class="about-section-title mt-2">案例一：餐飲空間</div>
          </a>
        </div>
        <div class="col-6 col-md-4 text-center my-3">
          <a href="">
            <img class="img-fluid" src="{% static 'web/assets/img/products/wall-covering/wall-covering2.png' %}" alt="">
            <div class="about-section-title mt-2">案例二：臥室環境</div>
          </a>
        </div>
        <div class="col-6 col-md-4  text-center my-3">
          <a href="">
            <img class="img-fluid" src="{% static 'web/assets/img/products/wall-covering/wall-covering3.png' %}" alt="">
            <div class="about-section-title mt-2">案例三：兒童臥室</div>
          </a>
        </div>

        <div class="col-6 col-md-4 text-center my-3">
          <a href="">
            <img class="img-fluid" src="{% static 'web/assets/img/products/wall-covering/wall-covering4.png' %}" alt="">
            <div class="about-section-title mt-2">案例四：辦公環境 </div>
          </a>
        </div>

        <div class="col-6 col-md-4 text-center my-3">
          <a href="">
            <img class="img-fluid" src="{% static 'web/assets/img/products/wall-covering/wall-covering5.png' %}" alt="">
            <div class="about-section-title mt-2">案例五：居家環境 </div>
          </a>
        </div>

      </div>

      <!-- videos -->
      <div class="ratio ratio-16x9 my-3" style="max-width: 800px;margin-left: auto;margin-right: auto;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/GBnSE4Ul074" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>

      <div class="ratio ratio-16x9 my-3" style="max-width: 800px;margin-left: auto;margin-right: auto;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/u3XB1CQZ_nM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>

      <div class="text-center my-5">
        <a href="http://poli.full-color.com.tw/" class="blue-button" target="_blank">前往波麗壁布官網，了解更多</a>
      </div>

    </div>
  </div>

{% endblock %}