{% extends 'web/base.html' %} {% block content %}
{% load static %}

<div class="about-bg">
    <div class="mx-auto banner-filter">
      <div class="py-8">
        <div class="about-title">
            經營團隊
        </div>
        <div class="col-10 col-md-8 mx-auto" style="max-width: 1280px;">
            <div class="mx-6"><hr class="custom-hr"></div>
            <div class="about-text mx-md-6">
                富潤的家長們
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main-bg">
    <nav class="bg-white  py-2">
      <div class="d-flex justify-content-evenly mx-auto" style="max-width: 1280px;">
        <a class="d-blcok inner-nav-item" href="{% url 'about' %}"> 公司簡介(成長故事)</a>
        <a class="d-blcok inner-nav-item" href="{% url 'values' %}">經營理念</a>
        <a class="d-blcok inner-nav-item inner-nav-item-on" href="{% url 'team' %}">經營團隊</a>
      </div>
    </nav>

    <div class="mt-3">
        <div class="container my-3" style="max-width: 1080px;">
            <br>
            
            <!-- for screen smaller than 576px -->
            <div class="row align-items-center mt-3 d-md-none">
                <div class="col-10 col-md-6 text-center mx-auto">
                    <img style="height: 40%; width: 40%;" class="img-fluid rounded-circle" src="{% static 'web/assets/img/team/jun_lin4.jpg' %}" alt="">
                </div>
                <div class="col-10 col-md-6 mx-auto mt-3 mt-md-0">
                    <div class="about-section-title text-start mb-3 text-center">
                        總經理 黃尊霖 
                    </div>
                    <p class="text-center">將設計者的創意，配合時尚的色彩與紡織品做結合，
                        在居家空間中豐富主人的生活，是富潤公司做為一個合宜出版平台的職責與願望。
                    </p>

                </div>
            </div>
            <!-- for screen bigger than 576px -->
            <div class="row align-items-center mt-3">
                <div class="col-10 col-md-6 text-center mx-auto d-none d-md-block">
                    <img style="height: 40%; width: 40%;" class="img-fluid rounded-circle" src="{% static 'web/assets/img/team/jun_lin4.jpg' %}" alt="">
                </div>
                <div class="col-10 col-md-6 mx-auto mt-3 mt-md-0 d-none d-md-block">
                    <div class="about-section-title text-start mb-3">
                        總經理 黃尊霖 
                    </div>
                    <p style="margin-right: 10%;" >將設計者的創意，配合時尚的色彩與紡織品做結合，<br>
                        在居家空間中豐富主人的生活，是富潤公司做為一個合宜出版平台的職責與願望。
                    </p>

                </div>
            </div>
            <br>
            <!-- for screen smaller than 576px -->
            <div class="row align-items-center mt-3 d-md-none">
                <div class="col-10 col-md-6 text-center mx-auto">
                    <img style="height: 40%; width: 40%;" class="img-fluid rounded-circle" src="{% static 'web/assets/img/team/jin_lai.png' %}" alt="">
                </div>
                <div class="col-10 col-md-6 mx-auto mt-3 mt-md-0">
                    <div class="about-section-title text-start mb-3 text-center">
                        <!-- 環保轉移印花部門 副理 周金來 -->
                        印刷中心 副理 周金來
                    </div>
                    <p class="text-center">由於染整工業必須消耗大量的水、與現今環保要求不符、同時也造成極大的成本負擔。以印代染是我們的核心技術目標之一、能有效的掌握布料上色狀態和色彩多樣化。
                    </p>

                </div>
            </div>

            <!-- for screen bigger than 576px -->
            <div class="row align-items-center mt-3">
                <div class="col-10 col-md-6 text-center mx-auto d-none d-md-block">
                    <img style="height: 40%; width: 40%;" class="img-fluid rounded-circle" src="{% static 'web/assets/img/team/jin_lai.png' %}" alt="">
                </div>
                <div class="col-10 col-md-6 mx-auto mt-3 mt-md-0 d-none d-md-block">
                    <div class="about-section-title text-start mb-3">
                        <!-- 環保轉移印花部門 副理 周金來  -->
                        印刷中心 副理 周金來
                    </div>
                    <p style="margin-right: 10%;">由於染整工業必須消耗大量的水、與現今環保要求不符、同時也造成極大的成本負擔。以印代染是我們的核心技術目標之一、能有效的掌握布料上色狀態和色彩多樣化。
                    </p>

                </div>
            </div>
            <br>
            <!-- for screen smaller than 576px -->
            <div class="row align-items-center mt-3 d-md-none">
                <div class="col-10 col-md-6 text-center mx-auto">
                  <img style="height: 40%; width: 40%;" class="img-fluid rounded-circle" src="{% static 'web/assets/img/team/ya_ru.png' %}" alt="">
                </div>
                <div class="col-10 col-md-6 mx-auto mt-3 mt-md-0 px-3">
                    <div class="about-section-title text-start mb-3 text-center">
                        設計部 副理 劉雅洳
                    </div>
                    <p class="text-center">
                        設計中心目前有約二十位設計人員，主要是協助客戶完成設計，並分析開版時易發生的問題，經過多年的經驗累積與不斷尋求更佳服務品質，我們成為國內布廠與品牌設計師信賴的夥伴；透過產學合作來募集校園新秀的設計稿並創立了設聚數圖庫讓更多人能夠看見更多的設計。
                    </p>

                </div>
            </div>

            <!-- for screen bigger than 576px -->
            <div class="row align-items-center mt-3">
                <div class="col-10 col-md-6 text-center mx-auto d-none d-md-block">
                  <img style="height: 40%; width: 40%;" class="img-fluid rounded-circle" src="{% static 'web/assets/img/team/ya_ru.png' %}" alt="">
                </div>
                <div class="col-10 col-md-6 mx-auto mt-3 mt-md-0 px-3 d-none d-md-block">
                    <div class="about-section-title text-start mb-3">
                        設計部 副理 劉雅洳
                    </div>
                    <p style="margin-right: 10%;">
                        設計中心目前有約二十位設計人員，主要是協助客戶完成設計，並分析開版時易發生的問題，經過多年的經驗累積與不斷尋求更佳服務品質，我們成為國內布廠與品牌設計師信賴的夥伴；透過產學合作來募集校園新秀的設計稿並創立了設聚數圖庫讓更多人能夠看見更多的設計。
                    </p>

                </div>
            </div>
            <br>
            <!-- for screen smaller than 576px -->
            <div class="row align-items-center mt-3 d-md-none">
                <div class="col-10 col-md-6 text-center mx-auto">
                  <img style="height: 40%; width: 40%;" class="img-fluid rounded-circle" src="{% static 'web/assets/img/team/a_dae.png' %}" alt="">
                </div>
                <div class="col-10 col-md-6 mx-auto mt-3 mt-md-0">
                    <div class="about-section-title text-start mb-3 text-center">
                        數位印刷中心 副理 陳勝德
                    </div>
                    <p class="text-center">
                        數位印刷從設計、檔案校色、印刷可單機單人一貫作業。
                        不需增加版材成本及工時，也無須擔心開版後卻未再使用，形成庫存的壓力，
                        在印刷的整個生命周期中，均不對環境產生污染，為未來樹立節能減排和低碳經濟的綠色印刷。
                    </p>

                </div>
            </div>
            <!-- for screen bigger than 576px -->
            <div class="row align-items-center mt-3">
                <div class="col-10 col-md-6 text-center mx-auto d-none d-md-block">
                  <img style="height: 40%; width: 40%;" class="img-fluid rounded-circle" src="{% static 'web/assets/img/team/a_dae.png' %}" alt="">
                </div>
                <div class="col-10 col-md-6 mx-auto mt-3 mt-md-0 d-none d-md-block">
                    <div class="about-section-title text-start mb-3">
                        數位印刷中心 副理 陳勝德
                    </div>
                    <p style="margin-right: 10%;">數位印刷從設計、檔案校色、印刷可單機單人一貫作業。<br>
                        不需增加版材成本及工時，也無須擔心開版後卻未再使用，形成庫存的壓力，
                        在印刷的整個生命周期中，均不對環境產生污染，為未來樹立節能減排和低碳經濟的綠色印刷。
                    </p>

                </div>
            </div>
            <br>
            <!-- for screen smaller than 576px -->
            <div class="row align-items-center mt-3 d-md-none">
                <div class="col-10 col-md-6 text-center mx-auto">
                  <img style="height: 40%; width: 40%;" class="img-fluid rounded-circle" src="{% static 'web/assets/img/team/li_chung.png' %}" alt="">
                </div>
                <div class="col-10 col-md-6 mx-auto mt-3 mt-md-0 px-3">
                    <div class="about-section-title text-start mb-3 text-center">
                        室內用紡織品發行 副理 柯力中
                    </div>
                    <p class="text-center">
                        紡織品為人類生活所必需，我們期許自己用職人的精神打造高品質的室內用紡織品，
                        讓使用者可以更放鬆地享受到更溫馨/舒適的室內空間，若有任何室內用紡織品的需求，請務必與我們聯絡。
                    </p>

                </div>
            </div>
            <!-- for screen bigger than 576px -->
            <div class="row align-items-center  mt-3">
                <div class="col-10 col-md-6 text-center mx-auto d-none d-md-block">
                  <img style="height: 40%; width: 40%;" class="img-fluid rounded-circle" src="{% static 'web/assets/img/team/li_chung.png' %}" alt="">
                </div>
                <div class="col-10 col-md-6 mx-auto mt-3 mt-md-0 px-3 d-none d-md-block">
                    <div class="about-section-title text-start mb-3">
                        室內用紡織品發行 副理 柯力中
                    </div>
                    <p style="margin-right: 10%;">
                        紡織品為人類生活所必需，我們期許自己用職人的精神打造高品質的室內用紡織品，
                        讓使用者可以更放鬆地享受到更溫馨/舒適的室內空間，若有任何室內用紡織品的需求，請務必與我們聯絡。
                    </p>

                </div>
            </div>
            <br>
        </div>

        <div class="banner-team">
            <div class="mx-auto banner-filter">
                <div class=" py-8">
                    <div class="mx-5 banner-text">
                        團隊合作，迎接挑戰 Team Work
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

{% endblock %}