{% extends 'web/base.html' %} {% block content %}
{% load static %}

<div class="tech-bg">
    <div class="mx-auto banner-filter">
      <div class="py-8">
        <div class="about-title">
            印刷中心(印刷組、轉印組)
        </div>
        <div class="col-10 col-md-8 mx-auto" style="max-width: 1280px;">
            <div class="mx-6"><hr class="custom-hr"></div>
            <div class="about-text mx-md-6">
                依據品牌客戶的需求用4原色染料調配出千萬種顏色的色彩、花樣轉印紙，<br>
                再利用熱昇華原理將轉印紙上的設計花樣轉印到客戶胚布上完成一件色彩亮麗的作品。
            </div>
        </div>
      </div>
    </div>
</div>

<div class="container mt-3" style="max-width: 1080px;">
    <div class="row align-items-center">
        <div class="col-12 col-md-6 mt-2 text-center">
            <img class="img-fluid" style="width: 100%;height: 300px;object-fit: cover;" src="{% static 'web/assets/img/tech_service/tech_img1.jpeg' %}" alt="">
        </div>
        <div class="col-12 col-md-6 mt-2 ">
            <div class="about-section-title">快速熱昇華轉印，胚布轉為亮麗色彩作品</div>
            <p>
                富潤於熱昇華轉印有超過 30 年的經驗，善於把色彩精準地轉印到胚布之上，由於品質穩定，因此得到許多廠商長期合作的信賴，我們也將此信賴當成是最好的回饋，日復一日，努力不懈！
            </p>
        </div>
    </div>
    <div class="row align-items-center">

        <div class="col-12 col-md-6 order-2 order-md-1 mt-2">
            <div class="about-section-title">熱昇華技術</div>
            <p>
            熱昇華指的是熱昇華墨水經加熱達到特定溫度後，染料會由固態昇華為氣態，當溫度下降，染料又還原成固態，這時染料可以滲入轉印物品的表面，達到轉印的目的。
            <br><br>
            由於昇華的溫度很高，長期使用不會褪色，加工過程不會產生廢水，友善環境且安全。
            </p>
        </div>
        <div class="col-12 col-md-6 order-1 order-md-2 mt-2 text-center">
            <img class="img-fluid" style="width: 100%;height: 300px;object-fit: cover;" src="{% static 'web/assets/img/tech_service/tech_img2.jpg' %}" alt="">
        </div>

    </div>

    <div class="row align-items-center">
        <div class="col-12 col-md-6 mt-2 text-center">
            <img class="img-fluid" style="width: 100%;height: 300px;object-fit: cover;" src="{% static 'web/assets/img/tech_service/tech_img3.jpg' %}" alt="">

        </div>
        <div class="col-12 col-md-6 mt-2">
            <div class="about-section-title">品質維護，信賴經驗與數據</div>
            <p>
            轉印是一門技術，也是一門藝術，掌握轉印的溫度/顏料/時間等因素，才能維護好產品的品質。我們累積了大量的經驗與數據，有自信能不斷完成客戶每一次的交付。
            <br><br>
            各式各樣的紡織品我們都有十足經驗，期待您 EMAIL 來信 或 加 LINE 詢問。    
            </p>
        </div>
    </div>
    <br>

</div> 

{% endblock %}