{% extends 'web/base.html' %} {% block content %}
{% load static %}
{% load i18n %}

<div class="tech-bg">
    <div class="mx-auto banner-filter">
      <div class="py-8">
        <div class="about-title">
            {% trans "service_title_1" %}
        </div>
        <div class="col-10 col-md-8 mx-auto" style="max-width: 1280px;">
            <div class="mx-6"><hr class="custom-hr"></div>
            <div class="about-text mx-md-6">
                {% trans "service_content_1" %}
            </div>
        </div>
      </div>
    </div>
</div>

<div class="container mt-3" style="max-width: 1080px;">

    <div class="row align-items-center">
        <div class="col-12 col-md-6 mt-2 text-center">
            <img class="img-fluid" style="width: 100%;height: 300px;object-fit: cover;" src="{% static 'web/assets/img/tech_service/tech_img1.jpeg' %}" alt="">
        </div>
        <div class="col-12 col-md-6 mt-2 ">
            <div class="about-section-title">{% trans "service_title_2" %}</div>
            <p>
                {% trans "service_content_2" %}
            </p>
        </div>
    </div>

    <div class="row align-items-center">

        <div class="col-12 col-md-6 order-2 order-md-1 mt-2">
            <div class="about-section-title">{% trans "service_title_3" %}</div>
            <p>
                {% trans "service_content_3" %}
            </p>
        </div>
        <div class="col-12 col-md-6 order-1 order-md-2 mt-2 text-center">
            <img class="img-fluid" style="width: 100%;height: 300px;object-fit: cover;" src="{% static 'web/assets/img/tech_service/tech_img2.jpg' %}" alt="">
        </div>

    </div>

    <div class="row align-items-center">
        <div class="col-12 col-md-6 mt-2 text-center">
            <img class="img-fluid" style="width: 100%;height: 300px;object-fit: cover;" src="{% static 'web/assets/img/tech_service/tech_img3.jpg' %}" alt="">

        </div>
        <div class="col-12 col-md-6 mt-2">
            <div class="about-section-title">{% trans "service_title_4" %}</div>
            <p>
                {% trans "service_content_4" %}   
            </p>
        </div>
    </div>
    
    <br>
</div> 

{% endblock %}