{% extends 'web/base.html' %} {% block content %}
{% load static %}

<div class="about-bg">
    <div class="mx-auto banner-filter">
      <div class="py-8">
        <div class="about-title">
            經營理念
        </div>
        <div class="col-10 col-md-8 mx-auto" style="max-width: 1280px;">
            <div class="mx-6"><hr class="custom-hr"></div>
            <div class="about-text mx-md-6">
                用技術掌握色彩，用設計創造價值，用服務達成共贏
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main-bg">

    <nav class="bg-white  py-2">
      <div class="d-flex justify-content-evenly mx-auto" style="max-width: 1080px;">
        <a class="d-blcok inner-nav-item" href="{% url 'about' %}"> 公司簡介(成長故事)</a>
        <a class="d-blcok inner-nav-item inner-nav-item-on" href="{% url 'values' %}">經營理念</a>
        <a class="d-blcok inner-nav-item" href="{% url 'team' %}">經營團隊</a>
      </div>
    </nav>
        
    <div class="mt-3">
        <div class="text-center my-3 position-relative">
            <img class="img-fluid" src="{% static 'web' %}/assets/img/values/values1.png" alt="">
            <div class="position-absolute top-50 start-50 translate-middle">
                <div class="about-section-title text-white">
                    願景 Vision  & 理念 Principle 
                </div>
            </div>
        </div>
    
        <div class="container my-3" style="max-width: 1080px;">
            <br>
             <!-- for screen smaller than 576px -->
            <div class="row align-items-center d-md-none">
                <div class="col-10 col-md-6 text-center mx-auto">
                    <img style="height: 40%; width: 40%;" class="img-fluid" src="{% static 'web/assets/img/values/values2.png' %}" alt="">
                </div>
                <div class="col-10 col-md-6 mx-auto mt-3 mt-md-0">
                    <div class="about-section-title text-start mb-3 text-center">
                        以色彩豐厚生命 
                    </div>
                    <p class="text-center">
                        生活中充滿色彩，也因此我們存在，
                        把大自然令人驚嘆的顏色，帶到生命的角落，
                        讓每個人都能共享這份喜悅。
                    </p>

                </div>
            </div>

            <!-- for screen bigger than 576px -->
            <div class="row align-items-center">
                <div class="col-10 col-md-6 text-center mx-auto d-none d-md-block">
                    <img style="height: 40%; width: 40%; float: right; margin-right: 100px;" class="img-fluid" src="{% static 'web/assets/img/values/values2.png' %}" alt="">
                </div>
                <div class="col-10 col-md-6 mx-auto mt-3 mt-md-0 d-none d-md-block">
                    <div class="about-section-title text-start mb-3">
                        以色彩豐厚生命
                    </div>
                    <p>生活中充滿色彩，也因此我們存在，<br>
                        把大自然令人驚嘆的顏色，帶到生命的角落，<br>
                        讓每個人都能共享這份喜悅。
                    </p>

                </div>
            </div>
            <br>

            <!-- for screen smaller than 576px -->
            <div class="row align-items-center mt-3 d-md-none">
                <div class="col-10 col-md-6 text-center mx-auto">
                    <img style="height: 40%; width: 40%;" class="img-fluid" src="{% static 'web/assets/img/values/values3.png' %}" alt="">
                </div>
                <div class="col-10 col-md-6 mx-auto mt-3 mt-md-0">
                    <div class="about-section-title text-start mb-3 text-center">
                        用設計感動人心 
                    </div>
                    <p class="text-center">
                        設計讓物品有了靈魂，<br>
                        富潤是空間家飾布設計的專家，
                        致力於讓客戶的家飾空間充滿感動。
                    </p>

                </div>
            </div>

            <!-- for screen bigger than 576px -->
            <div class="row align-items-center mt-3">
                <div class="col-10 col-md-6 text-center mx-auto d-none d-md-block">
                    <img style="height: 40%; width: 40%;float: right; margin-right: 100px;" class="img-fluid" src="{% static 'web/assets/img/values/values3.png' %}" alt="">
                </div>
                <div class="col-10 col-md-6 mx-auto mt-3 mt-md-0 d-none d-md-block">
                    <div class="about-section-title text-start mb-3">
                        用設計感動人心 
                    </div>
                    <p>設計讓物品有了靈魂，<br>
                        富潤是空間家飾布設計的專家，<br>
                        致力於讓客戶的家飾空間充滿感動。
                    </p>

                </div>
            </div>
            <br>

            <!-- for screen smaller than 576px -->
            <div class="row align-items-center mt-3 d-md-none">
                <div class="col-10 col-md-6 text-center mx-auto">
                    <img style="height: 40%; width: 40%;" class="img-fluid" src="{% static 'web/assets/img/values/values4.png' %}" alt="">
                </div>
                <div class="col-10 col-md-6 mx-auto mt-3 mt-md-0 px-3">
                    <div class="about-section-title text-start mb-3 text-center">
                        服務精神，使命必達 
                    </div>
                    <p class="text-center">
                        不論是彩色印花，空間設計，<br>
                        我們必定以服務精神，努力達成客戶的要求，
                        為雙方創造共贏。
                    </p>
                </div>
            </div>
            
            <!-- for screen bigger than 576px -->
            <div class="row align-items-center mt-3">
                <div class="col-10 col-md-6 text-center mx-auto d-none d-md-block">
                    <img style="height: 40%; width: 40%;float: right; margin-right: 100px;" class="img-fluid" src="{% static 'web/assets/img/values/values4.png' %}" alt="">
                </div>
                <div class="col-10 col-md-6 mx-auto mt-3 mt-md-0 px-3 d-none d-md-block">
                    <div class="about-section-title text-start mb-3">
                        服務精神，使命必達 
                    </div>
                    <p>
                        不論是彩色印花，空間設計，<br>
                        我們必定以服務精神，努力達成客戶的要求，<br>    
                        為雙方創造共贏。
                    </p>
                </div>
            </div>
            <br>
        </div>  

        <div class="banner-values">
            <div class="mx-auto banner-filter">
                <div class=" py-8">
                    <div class="mx-5 banner-text">達成使命 Fulfilling The Mission</div>
                </div>
            </div>
        </div>
    </div>
      
  </div>

{% endblock %}