{% extends 'web/base.html' %} {% block content %}
{% load static %}
{% load i18n %}

<div class="about-bg">
    <div class="mx-auto banner-filter">
      <div class="py-8">
        <div class="about-title">
            {% trans "values_title_1" %}
        </div>
        <div class="col-10 col-md-8 mx-auto" style="max-width: 1280px;">
            <div class="mx-6"><hr class="custom-hr"></div>
            <div class="about-text mx-md-6">
                {% trans "values_content_1" %}
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main-bg">

    <nav class="bg-white  py-2">
      <div class="d-flex justify-content-evenly mx-auto" style="max-width: 1080px;">
        <a class="d-blcok inner-nav-item" href="{% url 'about' %}">{% trans "about_tab_1" %}</a>
        <a class="d-blcok inner-nav-item inner-nav-item-on" href="{% url 'values' %}">{% trans "about_tab_2" %}</a>
        <a class="d-blcok inner-nav-item" href="{% url 'team' %}">{% trans "about_tab_3" %}</a>
      </div>
    </nav>
        
    <div class="mt-3">
        <div class="text-center my-3 position-relative">
            <img class="img-fluid" src="{% static 'web' %}/assets/img/values/values1.png" alt="">
            <div class="position-absolute top-50 start-50 translate-middle">
                <div class="about-section-title text-white">
                    {% trans "values_title_2" %}
                </div>
            </div>
        </div>
    
        <div class="container my-3" style="max-width: 1080px;">
            <br>
             <!-- for screen smaller than 576px -->
            <div class="row align-items-center d-md-none">
                <div class="col-10 col-md-6 text-center mx-auto">
                    <img style="height: 40%; width: 40%;" class="img-fluid" src="{% static 'web/assets/img/values/values2.png' %}" alt="">
                </div>
                <div class="col-10 col-md-6 mx-auto mt-3 mt-md-0">
                    <div class="about-section-title text-start mb-3 text-center">
                        {% trans "values_title_3" %} 
                    </div>
                    <p class="text-center">
                        {% trans "values_content_3" %}
                    </p>

                </div>
            </div>

            <!-- for screen bigger than 576px -->
            <div class="row align-items-center">
                <div class="col-10 col-md-6 text-center mx-auto d-none d-md-block">
                    <img style="height: 40%; width: 40%; float: right; margin-right: 100px;" class="img-fluid" src="{% static 'web/assets/img/values/values2.png' %}" alt="">
                </div>
                <div class="col-10 col-md-6 mx-auto mt-3 mt-md-0 d-none d-md-block">
                    <div class="about-section-title text-start mb-3">
                        {% trans "values_title_3" %} 
                    </div>
                    <p>
                        {% trans "values_content_3" %}
                    </p>

                </div>
            </div>
            <br>

            <!-- for screen smaller than 576px -->
            <div class="row align-items-center mt-3 d-md-none">
                <div class="col-10 col-md-6 text-center mx-auto">
                    <img style="height: 40%; width: 40%;" class="img-fluid" src="{% static 'web/assets/img/values/values3.png' %}" alt="">
                </div>
                <div class="col-10 col-md-6 mx-auto mt-3 mt-md-0">
                    <div class="about-section-title text-start mb-3 text-center">
                        {% trans "values_title_4" %} 
                    </div>
                    <p class="text-center">
                        {% trans "values_content_4" %}
                    </p>

                </div>
            </div>

            <!-- for screen bigger than 576px -->
            <div class="row align-items-center mt-3">
                <div class="col-10 col-md-6 text-center mx-auto d-none d-md-block">
                    <img style="height: 40%; width: 40%;float: right; margin-right: 100px;" class="img-fluid" src="{% static 'web/assets/img/values/values3.png' %}" alt="">
                </div>
                <div class="col-10 col-md-6 mx-auto mt-3 mt-md-0 d-none d-md-block">
                    <div class="about-section-title text-start mb-3">
                        {% trans "values_title_4" %} 
                    </div>
                    <p>
                        {% trans "values_content_4" %}
                    </p>

                </div>
            </div>
            <br>

            <!-- for screen smaller than 576px -->
            <div class="row align-items-center mt-3 d-md-none">
                <div class="col-10 col-md-6 text-center mx-auto">
                    <img style="height: 40%; width: 40%;" class="img-fluid" src="{% static 'web/assets/img/values/values4.png' %}" alt="">
                </div>
                <div class="col-10 col-md-6 mx-auto mt-3 mt-md-0 px-3">
                    <div class="about-section-title text-start mb-3 text-center">
                        {% trans "values_title_5" %} 
                    </div>
                    <p class="text-center">
                        {% trans "values_content_5" %}
                    </p>
                </div>
            </div>
            
            <!-- for screen bigger than 576px -->
            <div class="row align-items-center mt-3">
                <div class="col-10 col-md-6 text-center mx-auto d-none d-md-block">
                    <img style="height: 40%; width: 40%;float: right; margin-right: 100px;" class="img-fluid" src="{% static 'web/assets/img/values/values4.png' %}" alt="">
                </div>
                <div class="col-10 col-md-6 mx-auto mt-3 mt-md-0 px-3 d-none d-md-block">
                    <div class="about-section-title text-start mb-3">
                        {% trans "values_title_5" %}
                    </div>
                    <p>
                        {% trans "values_content_5" %}
                    </p>
                </div>
            </div>
            <br>
        </div>  

        <div class="banner-values">
            <div class="mx-auto banner-filter">
                <div class=" py-8">
                    <div class="mx-5 banner-text">{% trans "values_footer" %}</div>
                </div>
            </div>
        </div>
    </div>
      
  </div>

{% endblock %}